@font-face {
    font-family: 'Gill Sans';
    src: url('/assets/font/GillSans-Heavy.woff2') format('woff2'),
        url('/assets/font/GillSans-Heavy.woff') format('woff'),
        url('/assets/font/GillSans-Heavy.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/assets/font/GillSans-HeavyItalic.woff2') format('woff2'),
        url('/assets/font/GillSans-HeavyItalic.woff') format('woff'),
        url('/assets/font/GillSans-HeavyItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/assets/font/GillSans-Heavy.woff2') format('woff2'),
        url('/assets/font/GillSans-Heavy.woff') format('woff'),
        url('/assets/font/GillSans-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/assets/font/GillSans-HeavyItalic.woff2') format('woff2'),
        url('/assets/font/GillSans-HeavyItalic.woff') format('woff'),
        url('/assets/font/GillSans-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/assets/font/GillSans-Medium.woff2') format('woff2'),
        url('/assets/font/GillSans-Medium.woff') format('woff'),
        url('/assets/font/GillSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/assets/font/GillSans-MediumItalic.woff2') format('woff2'),
        url('/assets/font/GillSans-MediumItalic.woff') format('woff'),
        url('/assets/font/GillSans-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/assets/font/GillSans-Medium.woff2') format('woff2'),
        url('/assets/font/GillSans-Medium.woff') format('woff'),
        url('/assets/font/GillSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/assets/font/GillSans-MediumItalic.woff2') format('woff2'),
        url('/assets/font/GillSans-MediumItalic.woff') format('woff'),
        url('/assets/font/GillSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/assets/font/GillSans-Light.woff2') format('woff2'),
        url('/assets/font/GillSans-Light.woff') format('woff'),
        url('/assets/font/GillSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/assets/font/GillSans-LightItalic.woff2') format('woff2'),
        url('/assets/font/GillSans-LightItalic.woff') format('woff'),
        url('/assets/font/GillSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
