<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">
<web-app>

    <display-name>Schlock</display-name>

    <!-- Tells Tapestry 5 where to look for pages, components, and mixins -->
    <context-param>
        <param-name>tapestry.app-package</param-name>
        <param-value>com.schlock.website</param-value>
    </context-param>

    <filter>
        <filter-name>last-modified</filter-name>
        <filter-class>com.schlock.website.servlet.LastModifiedFilter</filter-class>
    </filter>

    <filter>
        <filter-name>app</filter-name>
        <filter-class>org.apache.tapestry5.TapestryFilter</filter-class>
    </filter>

    <filter>
        <filter-name>gzip</filter-name>
        <filter-class>org.eclipse.jetty.servlets.GzipFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>last-modified</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>app</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>gzip</filter-name>
        <servlet-name>css</servlet-name>
    </filter-mapping>


    <servlet>
        <servlet-name>css</servlet-name>
        <servlet-class>com.schlock.website.servlet.CssServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>photos</servlet-name>
        <servlet-class>com.schlock.website.servlet.PhotoServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>images</servlet-name>
        <servlet-class>com.schlock.website.servlet.ImageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>files</servlet-name>
        <servlet-class>com.schlock.website.servlet.FileServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>css</servlet-name>
        <url-pattern>/layout/blog.css</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>photos</servlet-name>
        <url-pattern>/photo/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>images</servlet-name>
        <url-pattern>/image/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>files</servlet-name>
        <url-pattern>/misc/*</url-pattern>
        <url-pattern>/pages/*</url-pattern>
        <url-pattern>/spamm/*</url-pattern>
    </servlet-mapping>

</web-app>