#postContent
{
    .clr    { clear: both; }

    img
    {
        max-width: 100%;
    }
    p.img
    {
        text-align: center;
    }


    div.columns
    {
        div.column
        {
            width: 48%;
            margin-right: 3%;
            position: relative;
            float: left;
        }
        div.twoColumnLast
        {
            margin-right: 0;
            float: right;
        }
    }

    div.threeColumns
    {
        width: 100%;

        div.column
        {
            width: 31%;
            margin-right: 3%;
            position: relative;
            float: left;
        }
        div.threeColumnLast
        {
            margin-right: 0;
            float: right;
        }
    }
}

