#postContent
{
    font-size: small;
    color: #999;

    a
    {
        color: #333;
    }

    div.title
    {
        color: #333;
    }

    p.img
    {
        max-width: 80%;
    }

    div.columns, div.threeColumns
    {
        max-width: 80%;
    }

    table.tracklisting
    {
        color: #999;
    }
}

