body
{
    scrollbar-face-color: #666666;
    scrollbar-shadow-color: #666666;
    scrollbar-highlight-color: #606060;
    scrollbar-3dlight-color: #666666;
    scrollbar-darkshadow-color:#666666;
    scrollbar-track-color: #515151;
    scrollbar-arrow-color: #484848;
}

body.index
{
    background-image: url(@v2_bg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    background-color: #000;
    color: #999;

    a, a:visited
    {
        color: #999;
    }
}

#menu
{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    height: 29px;

    padding: 8px;

    color: #fff;
    background-color: #222;

    a, td
    {
        color: #fff;
    }
}

#body
{
    position: fixed;
    left: 0;
    right: 0;
    top: 45px;
    bottom: 0;

    overflow: auto;
}

#menuContent, #bodyContent
{
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
}

#body.anime, #body.aboutme
{
    color: #fff;

    a, a:visited, td, #postContent
    {
        color: #fff;
    }
}

#body.radio, #body.hotline, #body.releases, #body.reviews
{
    color: #ccc;

    a, a:visited, td
    {
        color: #ccc;
    }
}

#body.releases
{
    background-color: #111;
}

#body.project
{
    background-color: #fff;
    color: #000;

    a, a:visited
    {
        color: #000;
    }
}

.projectContent
{
    table
    {
        color: #fff;
    }

    td.projects
    {
        background-color: #595959;
    }
}

#postContent
{
    font-size: small;
    color: #999992;

    a, div.title
    {
        color: #666660;
    }

    p.img
    {
        text-align: center;
        img
        {
            max-width: 80%;
        }
    }

    div.gbcameraColumns, div.columns, div.threeColumns, div.fourColumns
    {
        max-width: 80%;
    }

    table
    {
        font-size: small;
        color: #999992;
    }

    img.galleryImage
    {
        max-width: 90px;
        max-height: 90px;
    }
}

#postContent.review
{
    color: #fff;

    a, div.title, table
    {
        color: #fff;
    }
}


div.projects
{
    width: 92%;

    div.wrap
    {
        position: relative;
        float: left;

        left: 50%;
    }

    div.content
    {
        position: relative;
        float: left;

        left: -50%;
    }

    div.projectImage
    {
        background-position: center;
        background-color: #fff;

        height: 100px;
        width: 20px;

        margin-right: 2px;

        position: relative;
        float: left;

        clear: inline-end;

        a
        {
            position: absolute;
            width: 100%;
            height: 100%;

            top: 0;
            left: 0;
        }
    }
}
