a:link	    { text-decoration: none; color: #333333; }
a:visited	{ text-decoration: none; color: #333333; }
a:hover	    { text-decoration: underline; color: #333333; }
font		{ font-size: 12px; font-family: arial; }
font.title  { color: #ffffff; }
font.ment   { color: #cccccc; }
font.men    { font-size: 10px; color: #cccccc; }
font.menx   { color: #ffffff; }
font.mens   { color: #ffffff; text-decoration: underline; }
p.name      { align: right; margin-top: -15px; }
p.x         { margin-top: -15px; }
p.xy        { text-indent: 20px; }
p.y         { text-indent: 20px; margin-top: -10px; }
hr          { position: relative; top: 0px; }

#contentPanel
{
    width: 565px;
    height: 438px;

    padding: 2px;

    overflow-y: scroll;

    p, font, div
    {
        font-size: 12px;
        font-family: arial;
        color: #999999;
    }

	p           { margin-top: 0px; }

	font.title  { color: #999999; font-size: 10px; }


	font.dat    { font-size: 14px; color: #6984B0; font-weight: bold; }
	font.nam    { color: #666666; }
	font.men    { color: #ffffff; }
	font.menx   { color: #ffffff; margin-left: 15px; }


}