#postContent.courses
{
    h2
    {
        font-weight: normal !important;
    }

    div.title
    {
        text-align: center;

        b
        {
            font-weight: bold;
        }
    }

    table
    {
        font-size: 0.8em;
        border-spacing: 0px;

        padding-top: 20px;

        text-align: left;

        th, td
        {
            padding: 2px 0;
            border: 0px;
            line-height: 1.5em;
        }

        th
        {
            font-family: @font2;
        }

        tr td:last-child
        {
            text-align: right;
        }

        th.jp1 { width: 5%; }
        th.jp2 { width: 57%; }
        th.jp3 { width: 19%; }
        th.jp4 { width: 19%; text-align: center; }

        th.ex1 { width: 5%; }
        th.ex2 { width: 70%; }
        th.ex3 { width: 11%; }
        th.ex4 { width: 14%; text-align: right; }

        th.para1 { width: 4%; }
        th.para2 { width: 70%; }
        th.para3 { width: 26%; text-align: right; }

        td.title
        {
            font-weight: bold;
            margin-right: 5px;
        }

        td.top
        {
            padding-top: 20px;
            border-top: 1px solid @subheadercolor;
        }

        td.bottom
        {
            padding-bottom: 20px !important;
        }

        td:not(.links) a
        {
            font-weight: 600;
        }

        td.links
        {
            font-family: @font2;
            font-size: 0.9em;
            text-align: right;

            padding-bottom: 10px;
        }
    }

    table.grades
    {
        padding: 20px 0;

        th
        {
            width: 33%;
        }

        td
        {
            text-align: left !important;
            padding-top: 20px;
        }
    }
}

