#map
{
    width: @app_width;
    height: 786px;

    position: absolute;

    z-index: 1;

    left: 50%;
    transform: translateX(-50%);
}

#mapHeight
{
    height: 786px;

    padding-bottom: 50px;
}

.leaflet-popup-content
{
    text-align: center;

    p
    {
        margin: 10px 0 !important;
    }

    img
    {
        width: 200px !important;
        max-width: 200px !important;
    }
}

#buttonRow
{
    div
    {
        position: relative;
        float: left;
    }

    div:first-child
    {
        margin: 5px 10px 10px 0px;
        padding: 5px 0px;
    }

    div:nth-child(n+2)
    {
        cursor: pointer;
        user-select: none;

        border: 1px solid @textcolor_unselected;
        border-radius: 5px;

        margin: 5px 10px 10px 0px;
        padding: 5px 10px;
    }
}

table.markers
{
    padding: 0;
    border-spacing: 0;

    font-size: 1.1em;

    td
    {
        vertical-align: middle;
    }

    td:first-child
    {
        width: 25px;
    }

    td:nth-child(n+2)
    {
        padding-left: 10px;
    }

    div
    {
        position: relative;
        float: left;

        padding: 5px 0;
    }

    div.desc
    {
        padding: 12px 0px 5px 10px;
    }

    img
    {
        width: 25px;
        height: 41px;

        margin-top: 5px;
    }
}


/* ipad viewport size */
@media all and (max-width: @app_width)
{
    #map
    {
        width: 100%;
    }
}

@media all and (max-width: 767px)
{
    #buttonOkinawa
    {
        visibility: hidden;
        display: none;
    }

    #mapHeight
    {
        padding-bottom: 20px;
    }
}