body
{
    background-color: #323232;
    margin: 0px;
    padding: 0px;
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}
a:link, a:visited, a:hover
{
    text-decoration: none;
}
h1, h2, h3
{
    margin: 0px;
}

#topBar
{
    background-color: #323232;
    width: 100%;
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
#blogHeader, #blogFooter
{
    width: 1050px;
    background-color: #333;
    color: #fff;
    margin-left: auto;
    margin-right: auto;

    border-left: 1px solid #444;
    border-right: 1px solid #444;
}
#blogHeader div.title
{
    text-align: left;
    float: left;
    position: relative;
    width: 50%;

    padding: 0px 0px;
}
#blogHeader div.links
{
    text-align: right;
    float: left;
    position: relative;
    width: 49%;

    padding: 8px 0px;
}
#blogHeader div.links a
{
    color: #fff;
}
#blogHeader div.links a:hover
{
    text-decoration: underline;
}

#blogWindow
{
    width: 100%;
    height: 100%;
    overflow: scroll;
}
#blogBody
{
    width: 100%;
    background-color: #fefefe;
    padding-top: 50px;
}
#blogContent
{
    width: 1050px;
    background-color: #fff;
    color: #333;
    margin-left: auto;
    margin-right: auto;

    overflow-y: hidden;
    overflow-x: hidden;

    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
#blogContent hr
{
    height: 1px;
    border: 0;
    font-size: 0;
    color: #333;
    background: #333;

    margin: 0px 15px;
}


#postContent
{
    padding: 20px;
    padding-top: 30px;

}
#postContent div.postBody
{
    font-size: 20px;

    padding-top: 10px;
}
#postContent div.postDate
{
    color: #666;
}
#postContent div.postDate a:hover
{
    text-decoration: underline;
}
#postContent a
{
    color: #800;
}
#postContent img
{
    max-width: 100%;
}

#images
{
    margin-top: 10px;
}
#images div.title
{
    margin-top: 20px;
    margin-left: 20px;
}
#images div.image
{
    background-position: center;
    background-size: 300%;
    opacity: 0.5;

    width: 22.5%;
    max-height: 200px;
    min-height: 200px;
    height: 200px;
    position: relative;
    float: left;

    margin-bottom: 20px;
    margin-left: 20px;
}
#images div.image:hover
{
    opacity: 1;
}


#overlayBackground, #overlayImage
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}
#overlayBackground
{
    z-index: 1000;
    opacity: 0.8;
    background-color: #000;
}
#overlayImage
{
    z-index: 1001;
}
#overlayedImage
{
    width: 1000px;
    color: #fff;

    text-align: center;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
#overlayedImage a
{
    color: #fff;
}
#overlayedImage div.close
{
    width: 100%;
    position: relative;
    text-align: right;
}
#overlayedImage img
{
    border: 3px solid #fff;
    max-width: 100%;
}
#overlayedImage div.previous
{
    width: 40%;
    text-align: left;
    position: relative;
    float: left;
}
#overlayedImage div.next
{
    width: 40%;
    text-align: right;
    position: relative;
    float: right;
}


#previousLinks
{
    text-align: left;
    float: left;
    position: relative;
    width: 40%;

    margin: 20px;
}
#nextLinks
{
    text-align: right;
    float: right;
    position: relative;
    width: 40%;

    margin: 20px;
}
#previousLinks a, #nextLinks a
{
    color: #333;
}
#previousLinks div.postDate, #nextLinks div.postDate
{
    color: #666;
}

#blogFooter div.postLink
{
    width: 90%;
}
div.postLink h2
{
    margin-top: 10px;
}


#footerContent
{
    padding: 20px;
    width: 100%;
}
#recentPosts, #recentPinnedPosts, #pagesLinks
{
    text-alight: right;
    float: left;
    position: relative;
    width: 33%;

    margin: 0px 0px 0px 0px;
}
#pagesLinks
{
    width: 28%;
}
#pagesLinks #iconLinks
{
    padding-top: 15px;
}
#pagesLinks #iconLinks img
{
    padding: 0px 16px 0px 0px;
}
#recentPosts a, #recentPinnedPosts a, #pagesLinks a
{
    color: #fff;
}
#recentPosts div.postDate, #recentPinnedPosts div.postDate, #pagesLinks div.postDate
{
    color: #ccc;
}

#aboutMessage
{
    padding-top: 30px;
    font-size: 18px;
    color: #eee;
}
#aboutMessage a, #aboutMessage b
{
    color: #fff;
}


#aboutMe
{
    padding: 20px;
    padding-top: 0px;

    font-size: 20px;

    width: 100%;
}
#aboutMe #internetLinks, #aboutMe #gameLinks, #aboutMe #buyLinks
{
    float: left;
    position: relative;
    width: 33%;
}
#aboutMe div.title
{
    font-weight: bold;
    padding-bottom: 10px;
}
#aboutMe img
{
    padding: 0px 10px 0px 0px;
}



#archivePublished, #archiveCategories, #archiveYears
{
    text-align: left;
    width: 100%;

    margin: 5px 0px 5px 0px;
}
#archivePublished, #archiveCategories
{
    margin: 0px 0px 5px 0px;
}
#archiveCategories table, #archiveYears table
{
    width: 100%;
}
#archivePublished td, #archiveCategories td, #archiveYears td
{
    color: #999;
    padding: 3px 10px;
}
#archivePublished td.top, #archiveCategories td.top, #archiveYears td.top
{
    font-weight: bold;
}
#archivePublished td.selected, #archiveCategories td.selected, #archiveYears td.selected
{
    background-color: #f6f6f6;
}
#archivePosts
{
    margin-top: 20px;
}

#archivePost
{
    position: relative;
    float: left;
    width: 50%;

    height: 294px;
    max-height: 294px;

    overflow-y: hidden;
    overflow-x: hidden;

    padding-top: 20px;
}
#archivePost h1
{
    font-size: 1.4em;
}
#archivePost div.postDate
{
    font-size: 14px;
}
#archivePost div.postBody
{
    font-size: 16px;
    width: 95%;
}
#archivePost span
{
    display: block;
    position: absolute;
    height: 100px;
    width: 100%;
    right: 0;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    bottom: 0;
}



#postContent
{
    padding: 20px;
    padding-top: 30px;

}
#postContent div.postDate
{
    color: #666;
}
#postContent div.postDate a:hover
{
    text-decoration: underline;
}
#postContent a
{
    color: #800;
}
#postContent img
{
    max-width: 100%;
}
