body
{
    background-color: #323232;
    margin: 0px;
    padding: 0px;
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}
a:link, a:visited, a:hover
{
    text-decoration: none;
}
h1, h2, h3
{
    margin: 0px;
}

#blogHeader, #blogFooter
{
    width: 1050px;
    background-color: #333;
    color: #fff;
    margin-left: auto;
    margin-right: auto;

    border-left: 1px solid #444;
    border-right: 1px solid #444;
}
#blogHeader #title
{
    text-align: left;
    float: left;
    position: relative;
    width: 50%;

    padding: 10px 0px;
}
#blogHeader #links
{
    text-align: right;
    float: left;
    position: relative;
    width: 49%;

    padding: 18px 0px;
}
#blogHeader #links a
{
    color: #fff;
}
#blogHeader #links a:hover
{
    text-decoration: underline;
}

#blogBody
{
    width: 100%;
    background-color: #fefefe;
}
#blogContent
{
    width: 1050px;
    background-color: #fff;
    color: #333;
    margin-left: auto;
    margin-right: auto;

    overflow-y: hidden;
    overflow-x: hidden;

    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
#blogContent hr
{
    height: 1px;
    color: #333;

    margin: 0px 20px;
}


#postContent
{
    padding: 20px;
    padding-top: 30px;

}
#postContent #postBody
{
    font-size: 20px;

    padding-top: 10px;
}
#postContent #postDate
{
    color: #666;
}
#postContent #postDate a:hover
{
    text-decoration: underline;
}
#postContent a
{
    color: #800;
}
#postContent img
{
    max-width: 100%;
}

#previousLinks
{
    text-align: left;
    float: left;
    position: relative;
    width: 40%;

    margin: 20px;
}
#nextLinks
{
    text-align: right;
    float: right;
    position: relative;
    width: 40%;

    margin: 20px;
}
#previousLinks a, #nextLinks a
{
    color: #333;
}
#previousLinks #postDate, #previousLinks #postDate
{
    color: #666;
}

#postLink h2
{
    margin-top: 10px;
}


#footerContent
{
    padding: 20px;
    width: 100%;
}
#recentPosts, #recentPinnedPosts, #pagesLinks
{
    text-alight: right;
    float: left;
    position: relative;
    width: 33%;
}
#pagesLinks
{
    width: 28%;
}
#pagesLinks #links
{
    padding-top: 30px;
}
#pagesLinks #links img
{
    padding: 0px 22px 0px 0px;
}
#recentPosts a, #recentPinnedPosts a, #pagesLinks a
{
    color: #fff;
}
#recentPosts #postDate, #recentPinnedPosts #postDate, #pagesLinks #postDate
{
    color: #ccc;
}

#aboutMessage
{
    padding-top: 30px;
    font-size: 18px;
    color: #eee;
}
#aboutMessage b
{
    color: #fff;
}



#aboutMe
{
    padding: 20px;
    padding-top: 0px;

    font-size: 20px;

    width: 100%;
}
#aboutMe #internetLinks, #aboutMe #gameLinks, #aboutMe #buyLinks
{
    float: left;
    position: relative;
    width: 33%;
}
#aboutMe #title
{
    font-weight: bold;
    padding-bottom: 10px;
}
#aboutMe img
{
    padding: 0px 10px 0px 0px;
}