.w200 { width: 200px; }

.w100p { width: 100% }
.w70p { width: 70%; }
.w50p { width: 50%; }
.w35p { width: 35%; }
.w30p { width: 30%; }
.w15p { width: 15%; }
.w20p { width: 18%; }
.w10p { width: 12%; }

.minw200 { min-width: 200px; }
.minw800 { min-width: 800px; }

.maxw1030 { max-width: 1030px; }
.maxw1024 { max-width: 1024px; }

.pt20 { padding-top: 20px; }
.pt10 { padding-top: 10px; }

.pb10 { padding-bottom: 10px; }

.p0 { padding: 0; }
.p10 { padding: 10px; }
.p20 { padding: 20px; }

.m0 { margin: 0; }

.mb { margin-bottom: 20px; }

.fLeft { float: left; }
.fRight { float: right; }
.clr { clear: both; }
.hidden { display: none; visibility: hidden; }

.posRelative { position: relative; }

table td { vertical-align: top; }
table td .right { text-align: right; }
table td .left { text-align: left; }

.roundcorners { -moz-border-radius: 10px; -webkit-border-radius: 10px; }
