html
{
    height: 100%;
    min-height: 100%;
}
body
{
    background-color: @backgroundcolor;
    margin: 0;
    padding: 0;
    font-family: @font1;
    font-size: 100%;

    height: 100%;
    min-height: 100%;
}
span.ja
{
    font-family: @fontJ;
    font-size: 0.8em;
}
a:link, a:visited, a:hover
{
    text-decoration: none;
}
h1, h2, h3
{
    margin: 0;
}
code, pre
{
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: @subheadercolor;
    border-radius: 6px;
}
b
{
    font-weight: 600;
}

.clr    { clear: both; }
.hidden { display: none; visibility: hidden; }

.center { text-align: center; }

.pb10   { padding-bottom: 10px; }

.fLeft { float: left; }
.fRight { float: right; }

table td { vertical-align: top; }
table td .right { text-align: right; }
table td .left { text-align: left; }


#headerFullBody, #subheaderFullBody, #blogFullBody, #footerFullyBody
{
    width: 100%;
}
#headerInnerBody, #subheaderInnerBody, #blogInnerBody, #footerInnerBody
{
    width: @app_width;
    margin-left: auto;
    margin-right: auto;
}
#headerFullBody
{
    background-color: @backgroundcolor;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}
#subheaderFullBody
{
    background-color: @subheadercolor_off;
    padding-top: 55px;
}
#blogFullBody
{
    background-color: @bodycolor_off;
}

#headerBody, #footerBody
{
    background-color: @backgroundcolor;
    color: #fff;

    border-left: 1px solid #444;
    border-right: 1px solid #444;
}
#headerBody
{
    padding: 10px 30px;
}
#footerBody
{
    padding: 20px 70px;
}
#subheaderBody
{
    background-color: @subheadercolor;
    color: @subheader_textcolor;

    padding: 5px 30px;

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

    font-family: @font2;
    font-size: 0.8em;
}
#blogBody
{
    background-color: @bodycolor;
    color: @textcolor;

    padding-left: 70px;
    padding-right: 70px;

    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}


#headerContent
{
    width: 100%;

    a
    {
        color: #fff;
    }

    div.title
    {
        text-align: left;
        float: left;
        position: relative;
        width: 55%;

        padding: 0 0;

        span
        {
            font-size: 2em;
            font-weight: bold;
        }
    }
    div.links
    {
        font-family: @font2;
        text-align: right;
        float: right;
        position: relative;
        width: 40%;

        padding: 8px 0;

        a:hover
        {
            text-decoration: underline;
        }
    }
    div.menu
    {
        display: none;
        text-align: right;
        float: right;
        position: relative;
        width: 15%;

        padding: 0 3px;

        font-family: @font2;
        font-size: 1.3em;
    }
}
#subheaderContent
{
    width: 100%;

    div.previousNext
    {
        position: relative;
        float: left;

        a
        {
            color: @subheader_textcolor;
        }
        span.title
        {
            color: @subheader_textcolor;
        }
        span.divider
        {
            padding: 0 10px;
        }
    }
    div.categories
    {
        position: relative;
        float: right;

        a
        {
            color: @subheader_textcolor;
        }
        a:hover
        {
            text-decoration: underline;
        }
    }
}


#blogContent
{
    width: 100%;

    overflow-y: hidden;
    overflow-x: hidden;

    hr
    {
        height: 1px;
        border: 0;
        font-size: 0;
        color: #333;
        background: #333;

        margin: 0 15px;
    }
}





#postContent
{
    padding-top: 60px;
    padding-bottom: 60px;

    h1
    {
        font-family: @font2;
        font-weight: bold;
    }

    #headline
    {
        text-align: center;
    }
    #headlineContent
    {
        padding-top: 25px;
        padding-bottom: 10px;
        text-align: center;
    }


    a
    {
        color: @linkcolor;
    }
    a.sixth
    {
        color: @rainbow_red;
    }
    a.programming, a.h28, a.fifth
    {
        color: @rainbow_mag;
    }
    a.artwork, a.h27, a.fourth
    {
        color: @rainbow_voi;
    }
    a.audiovideo, a.h26, a.third
    {
        color: @rainbow_blu;
    }
    a.writing, a.h25, a.second
    {
        color: @rainbow_gre;
    }
    a.first
    {
        color: @rainbow_oli;
    }

    a.sixthUnselected
    {
        color: @rainbow_red_light;
    }
    a.programmingUnselected, a.h28Unselected, a.fifthUnselected
    {
        color: @rainbow_mag_light;
    }
    a.artworkUnselected, a.h27Unselected, a.fourthUnselected
    {
        color: @rainbow_voi_light;
    }
    a.audiovideoUnselected, a.h26Unselected, a.thirdUnselected
    {
        color: @rainbow_blu_light;
    }
    a.writingUnselected, a.h25Unselected, a.secondUnselected
    {
        color: @rainbow_gre_light;
    }
    a.firstUnselected
    {
        color: @rainbow_oli_light;
    }

    img
    {
        max-width: 100%;
    }
    p.img
    {
        text-align: center;
    }
    div.noImage
    {
        border: 1px solid #333;
    }

    iframe
    {
        width: 100%;
    }
    iframe.ratio4by3
    {
        height: 660px;
    }
    iframe.ratio16by9
    {
        height: 495px;
    }
    div.postBody
    {
        font-size: 1.3em;
        text-align: justify;

        padding-top: 50px;

        div.title
        {
            font-family: @font2;
            font-weight: bold;
            font-size: 1.1em;

            padding-top: 20px;
            padding-bottom: 10px;

            span.ja
            {
                font-size: 0.9em;
            }
        }
        p
        {
            line-height: 185%;
        }
    }
    div.postDate
    {
        color: #666;
        font-size: 1.0em;

        span.hidden
        {
            display: none;
            visibility: hidden;
        }

        a:hover
        {
            text-decoration: underline;
        }
    }

    form div.button
    {
        font-size: 0.9em;

        border: 1px solid #333;
        background-color: #eee;

        font-family: @font2;

        position: relative;
        float: left;

        a
        {
            color: #333;

            margin: 3px 10px;
        }
    }

    div.returnLink
    {
        font-family: @font2;
        font-size: 0.9em;

        a
        {
            color: @textcolor;
        }
    }
}

#postContent.blogPost
{
    div.title
    {
        text-align: center;

        b
        {
            font-weight: bold;
        }
    }
}

#postContent.courses
{
    h2
    {
        font-weight: normal !important;
    }

    table
    {
        font-size: 0.8em;
        border-spacing: 0px;

        th, td
        {
            padding: 2px 0;
            border: 0px;
            line-height: 1.5em;
        }

        th
        {
            font-family: @font2;
        }

        tr td:last-child
        {
            text-align: right;
        }

        th.col1 { width: 5%; }
        th.col2 { width: 57%; }
        th.col3 { width: 19%; }
        th.col4 { width: 19%; text-align: center; }

        td.title
        {
            font-weight: bold;
            margin-right: 5px;
        }

        td.top
        {
            padding-top: 20px;
            border-top: 1px solid @subheadercolor;
        }

        td.bottom
        {
            padding-bottom: 20px !important;
        }

        td:not(.links) a
        {
            font-weight: 600;
        }

        td.links
        {
            font-family: @font2;
            font-size: 0.9em;
            text-align: right;

            padding-bottom: 10px;
        }
    }
}

#postContent.archive
{
    a
    {
        color: #333;
    }
    h2
    {
        font-family: @font2;
        font-size: 0.9em;

        position: relative;
        float: left;
    }
    div.postNumber
    {
        position: relative;
        float: left;

        font-size: 0.6em;

        padding-top: 5px;
        padding-right: 5px;
    }
    div.postDate
    {
        position: relative;
        float: left;

        font-size: 0.8em;

        padding-top: 2px;
        padding-left: 7px;
    }

    div.primaryPost, div.secondaryPost
    {
        position: relative;
        float: left;

        max-width: 100%;
        width: 100%;

        text-align: left;

        a
        {
            width: 100%;
            height: 100%;
            z-index: 10;

            position: absolute;
            top: 0;
            left: 0;
        }

        div.postImage
        {
            background-position: center;
            background-size: 100%;

            max-width: 100%;

            margin-bottom: 7px;
        }
    }

    div.primaryPost
    {
        margin-bottom: 40px;

        div.postImage
        {
            height: 350px;
        }
        div.postNumber
        {
            padding-left: 7px;
        }
    }

    div.secondaryPost
    {
        margin-bottom: 20px;

        div.postImage
        {
            height: 210px;
        }
    }

    div.categoryPosts
    {
        text-align: left;

        position: relative;
        float: left;

        width: 54%;

        margin-left: 1%;
    }

    div.postPreviews
    {
        position: relative;
        float: right;

        width: 44%;
        padding-bottom: 30px;
    }

    div.title
    {
        font-family: @font2;
        font-weight: bold;
        font-size: 1.2em;

        padding-bottom: 5px;
    }
    div.postLink
    {
        vertical-align: bottom;
        padding: 5px 0;

        div.postDate
        {
            padding-left: 7px;
        }
    }
}
#postContent.subtitles
{
    div.input, div.output
    {
        position: relative;
        width: 49%
    }
    div.input
    {
        float: left;
        margin-left: 3px;
    }
    div.output
    {
        float: right;
        margin-right: 3px;
    }
    form div.field
    {
        width: 100%;

        margin-bottom: 20px;

        label
        {
            font-family: @font2;
        }
    }

    textarea
    {
        clear: both;
        width: 100%;

        height: 350px;
    }
}
#postContent.projects
{
    div.categoryCategory
    {
        font-family: @font2;

        a
        {
            color: @textcolor;
        }
    }
    div.categoryTitle
    {
        font-family: @font2;
        font-size: 1.1em;
        font-weight: bold;

        padding-right: 15px;

        float: left;
    }

    div.projectPosts
    {
        padding-top: 60px;
    }

    div.miniPost
    {
        padding-top: 10px;

        font-size: 0.9em;

        h1
        {
            font-size: 1.3em;
        }
        a.title
        {
            color: @textcolor;
        }
        div.postDate
        {
            font-size: 1.0em;
        }
        div.postBody
        {
            font-size: 1.0em;
            padding-top: 10px;
        }
    }
}

#postContent.lessons
{
    h2
    {
        font-weight: bold;
        font-family: @font2;
        font-size: 0.9em;
    }
    h2.lessonTitle
    {
        padding-top: 10px;
    }

    div.selectionsTitle
    {
        font-family: @font2;
        font-size: 0.7em;

        text-align: center;

        padding-bottom: 8px;
    }
    div.selectionTitle
    {
        font-family: @font2;
        font-weight: bold;
    }

    div.yearSelection
    {
        padding-bottom: 15px;
    }
    div.gradeSelection
    {
        padding-bottom: 40px;
    }

    div.gradeBody
    {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    div.lessonBody
    {
        padding-top: 5px;
        padding-bottom: 10px;
        padding-left: 10px;

        font-size: 0.7em;
        font-family: @font2;

        span.none
        {
            color: @dimcolor;
        }
    }
}

#lessonMaterials
{
    padding-top: 60px;

    div.material
    {
        position: relative;

        width: 40%;

        height: 180px;
        max-height: 180px;
        min-height: 180px;

        border: 1px solid #333;

        background-color: #fff;
        background-size: 90%;
        background-repeat: no-repeat;

        a
        {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            z-index: 10;
        }

        span
        {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background-color: #fff;
            opacity: 0.5;

            z-index: 0;
        }

        div.title
        {
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;

            font-family: @font2;
            font-weight: bold;
            font-size: 1.3em;

            z-index: 5;
        }
    }
    div.plan
    {
        background-position: top center;

        float: left;

        margin-left: 3%;
    }
    div.cards
    {
        background-position: center;

        float: right;

        margin-right: 3%;
    }
    div.material:hover
    {
        span
        {
            opacity: 0;
        }
    }
}


#postContent div.kendo
{
    font-size: 1.1em;

    padding-bottom: 40px;

    textarea
    {
        clear: both;
        width: 99%;

        height: 100px;

        font-family: @font1;
        font-size: 1.0em;
    }
}


#footerContent
{
    width: 100%;

    div.postLink
    {
        width: 95%;
    }
    div.postNumber
    {
        display: none;
        visibility: hidden;
    }
}


/* iphone viewport size */
@media all and (max-width: 767px)
{
    h1
    {
        font-size: 1.3em;
    }
    body
    {
        font-size: 95%;
    }
    #headerInnerBody, #subheaderInnerBody, #blogInnerBody, #footerInnerBody
    {
        width: 100%;
    }
    #headerBody, #subheaderBody, #blogBody, #footerBody
    {
        border-left: 0;
        border-right: 0;
    }

    #headerBody
    {
        padding: 10px;
    }
    #subheaderFullBody
    {
        padding-top: 42px;
    }
    #footerBody
    #footerBody
    {
        padding: 10px 15px;
    }
    #blogBody
    {
        padding-right: 15px;
        padding-left: 15px;
    }

    #headerContent
    {
        div.title
        {
            width: 80%;

            span
            {
                font-size: 1.3em;
            }
        }
        div.links
        {
            display: none;
            visibility: hidden;
        }
        div.menu
        {
            display: block;
        }
    }

    #subheaderContent
    {
        div.previousNext
        {
            span.name
            {
                display: none;
                visibility: hidden;
            }
        }
        div.categories
        {
            display: none;
            visibility: hidden;
        }
    }

    #postContent
    {
        padding-top: 20px;
        padding-bottom: 20px;

        div.postBody
        {
            padding-top: 20px;

            font-size: 1.1em;

            p
            {
                line-height: 160%;
            }
        }
        iframe
        {
            height: 250px;
        }
    }

    #postContent.archive
    {
        div.primaryPost
        {
            div.postImage
            {
                height: 150px;
            }
        }

        div.categoryPosts
        {
            width: 98%;
            margin-left: 2%;
        }

        div.postPreviews
        {
            display: none;
            visibility: hidden;
        }
    }

    #lessonMaterials
    {
        padding-top: 20px;

        div.material
        {
            height: 115px;
            max-height: 115px;
            min-height: 115px;
        }
    }
}

/* ipad viewport size */
@media all and (min-width: 768px) and (max-width: 1000px)
{
    #headerInnerBody, #subheaderInnerBody, #blogInnerBody, #footerInnerBody
    {
        width: 100%;
    }
    #headerBody, #subheaderBody, #blogBody, #footerBody
    {
        border-left: 0;
        border-right: 0;
    }

    #headerBody
    {
        padding: 10px 20px;
    }
    #subheaderBody
    {
        padding: 5px 20px;
    }
    #footerBody
    {
        padding: 10px 40px;
    }
    #blogBody
    {
        padding: 0 40px;
    }

    #postContent
    {
        iframe
        {
            height: 400px;
        }
    }

    #lessonMaterials
    {
        div.material
        {
            height: 140px;
            max-height: 140px;
            min-height: 140px;
        }
    }
}
