@font1: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
@font2: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

@linkcolor: #800;

@app_width: 1024px;


body
{
    background-color: #323232;
    margin: 0;
    padding: 0;
    font-family: @font1;
    font-size: 100%;
}
a:link, a:visited, a:hover
{
    text-decoration: none;
}
h1, h2, h3
{
    margin: 0;
}

#headerFullBody, #subheaderFullBody, #blogFullBody, #footerFullyBody
{
    width: 100%;
}
#headerInnerBody, #subheaderInnerBody, #blogInnerBody, #footerInnerBody
{
    width: @app_width;
    margin-left: auto;
    margin-right: auto;
}
#headerFullBody
{
    background-color: #323232;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}
#subheaderFullBody
{
    background-color: #ededed;
    padding-top: 55px;
}
#blogFullBody
{
    background-color: #fefefe;
}

#headerBody, #footerBody
{
    background-color: #333;
    color: #fff;

    border-left: 1px solid #444;
    border-right: 1px solid #444;
}
#headerBody
{
    padding: 10px 30px;
}
#footerBody
{
    padding: 20px 70px;
}
#subheaderBody
{
    background-color: #eee;
    color: #999;

    padding: 5px 30px;

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

    font-family: @font2;
    font-size: 0.8em;
}
#blogBody
{
    background-color: #fff;
    color: #333;

    padding-left: 70px;
    padding-right: 70px;

    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}


#headerContent
{
    width: 100%;

    a
    {
        color: #fff;
    }

    div.title
    {
        text-align: left;
        float: left;
        position: relative;
        width: 55%;

        padding: 0 0;

    }
    div.links
    {
        font-family: @font2;
        text-align: right;
        float: right;
        position: relative;
        width: 40%;

        padding: 8px 0;

        a:hover
        {
            text-decoration: underline;
        }
    }
}
#subheaderContent
{
    width: 100%;

    div.previousNext
    {
        position: relative;
        float: left;

        a
        {
            color: #999;
        }
        span.title
        {
            color: #888;
        }
        span.divider
        {
            padding: 0 10px;
        }
    }
    div.categories
    {
        position: relative;
        float: right;

        a
        {
            color: #999;
        }
        a:hover
        {
            text-decoration: underline;
        }
    }
}


#blogContent
{
    width: 100%;

    overflow-y: hidden;
    overflow-x: hidden;

    hr
    {
        height: 1px;
        border: 0;
        font-size: 0;
        color: #333;
        background: #333;

        margin: 0 15px;
    }
}



#postContent, #lessonContent
{
    h1
    {
        font-family: @font2;
        font-weight: bold;
    }
    a
    {
        color: @linkcolor;
    }
    img
    {
        max-width: 100%;
    }
    pre
    {
        background-color: #eee;
    }
    iframe
    {
        width: 100%;
        height: 700px;
    }
    div.postBody
    {
        font-size: 1.1em;

        padding-top: 50px;

        div.title
        {
            font-family: @font2;
            font-weight: bold;
        }
    }
    div.postDate
    {
        color: #666;
        font-size: 0.9em;

        span
        {
            display: none;
            visibility: hidden;
        }

        a:hover
        {
            text-decoration: underline;
        }
    }
    div.links
    {
        margin-top: 40px;

        font-size: 1.1em;

        a
        {
            font-family: @font2;
        }
    }
}
#postContent
{
    padding-top: 60px;
    padding-bottom: 60px;
}
#postContent.archive
{
    a
    {
        color: #333;
    }
    h2
    {
        font-family: @font2;
        font-size: 0.9em;

        position: relative;
        float: left;
    }
    div.postDate
    {
        font-size: 0.8em;

        position: relative;
        float: left;

        padding-left: 7px;
    }

    div.primaryPost, div.secondaryPost
    {
        position: relative;
        float: left;

        max-width: 100%;
        width: 100%;

        a
        {
            width: 100%;
            height: 100%;
            z-index: 10;

            position: absolute;
            top: 0;
            left: 0;
        }

        div.postImage
        {
            background-position: center;
            background-size: 100%;

            max-width: 100%;

            margin-bottom: 7px;
        }
        div.noImage
        {
            border: 1px solid #333;
        }
    }

    div.primaryPost
    {
        margin-bottom: 40px;

        div.postImage
        {
            height: 350px;
        }
        h2
        {
            padding-left: 7px;
        }
    }

    div.secondaryPost
    {
        margin-bottom: 20px;

        div.postImage
        {
            height: 220px;
        }
    }

    div.categoryPosts
    {
        position: relative;
        float: left;

        width: 54%;

        margin-left: 1%;
    }

    div.postPreviews
    {
        position: relative;
        float: right;

        width: 44%;
        padding-bottom: 30px;
    }

    div.title
    {
        font-family: @font2;
        font-weight: bold;
        font-size: 1.2em;

        padding-bottom: 5px;
    }
    div.postLink
    {
        vertical-align: bottom;
        padding: 5px 0;

        div.postDate
        {
            padding-left: 7px;
        }
    }

    div.returnLink
    {
        font-family: @font2;
        font-size: 0.9em;
    }
}


#footerContent
{
    width: 100%;

    div.postLink
    {
        width: 90%;
    }
}


/* iphone viewport size */
@media all and (max-width: 767px)
{
    h1
    {
        font-size: 1.3em;
    }
    body
    {
        font-size: 95%;
    }
    #headerInnerBody, #subheaderInnerBody, #blogInnerBody, #footerInnerBody
    {
        width: 100%;
    }
    #headerBody, #subheaderBody, #blogBody, #footerBody
    {
        border-left: 0;
        border-right: 0;
    }

    #headerBody
    {
        padding: 10px;
    }
    #subheaderFullBody
    {
        padding-top: 42px;
    }
    #footerBody
    {
        padding: 10px 15px;
    }
    #blogBody
    {
        padding-right: 15px;
        padding-left: 15px;
    }

    #headerContent
    {
        div.title
        {
            width: 100%;
        }
        div.links
        {
            display: none;
            visibility: hidden;
        }
    }

    #subheaderContent
    {
        div.previousNext
        {
            span.name
            {
                display: none;
                visibility: hidden;
            }
        }
        div.categories
        {
            display: none;
            visibility: hidden;
        }
    }

    #postContent
    {
        padding-top: 20px;
        padding-bottom: 20px;

        div.postBody
        {
            padding-top: 20px;
        }
        iframe
        {
            height: 250px;
        }
    }

    #postContent.archive
    {
        div.primaryPost
        {
            div.postImage
            {
                height: 150px;
            }
        }

        div.categoryPosts
        {
            width: 98%;
            margin-left: 2%;
        }

        div.postPreviews
        {
            display: none;
            visibility: hidden;
        }
    }
}

/* ipad viewport size */
@media all and (min-width: 768px) and (max-width: 1000px)
{
    #headerInnerBody, #subheaderInnerBody, #blogInnerBody, #footerInnerBody
    {
        width: 100%;
    }
    #headerBody, #subheaderBody, #blogBody, #footerBody
    {
        border-left: 0;
        border-right: 0;
    }

    #headerBody
    {
        padding: 10px 20px;
    }
    #subheaderBody
    {
        padding: 5px 20px;
    }
    #footerBody
    {
        padding: 10px 40px;
    }
    #blogBody
    {
        padding: 0 40px;
    }

    #postContent
    {
        iframe
        {
            height: 400px;
        }
    }
}
