@font1: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
@font2: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

@linkcolor: #800;

@app_width: 1024px;


#postContent, #lessonContent
{
    div.castingFirst, div.castingMiddle, div.castingLast
    {
        position: relative;
        float: left;

        width: 32%;

        padding-right: 23px;

        font-size: 0.8em;

        div.left
        {
            text-align: left;
            position: relative;
            float: left;
        }
        div.right
        {
            text-align: right;
            position: relative;
            float: right;
        }
    }
    div.castingFirst, div.castingMiddle
    {
        div.left
        {
            width: 55%;
        }
        div.right
        {
            width: 45%;
        }
    }
    div.castingLast
    {
        width: 30%;
        padding-right: 0px;

        div.left
        {
            width: 43%;
        }
        div.right
        {
            width: 57%;
        }
    }
}

#images
{
    margin-top: 10px;
    padding-bottom: 50px;

    div.title
    {
        font-family: @font2;
        margin: 20px 0;
    }
    div.image
    {
        background-position: center;
        background-size: 200%;
        opacity: 0.7;

        width: 23%;
        max-height: 180px;
        min-height: 180px;
        height: 180px;
        position: relative;
        float: left;

        margin-right: 20px;
        margin-bottom: 20px;

        a
        {
            position: absolute;
            width: 100%;
            height: 100%;

            top: 0;
            left: 0;
        }
    }
    div.image:hover
    {
        opacity: 1;
    }
    div.fourColumnLast
    {
        margin-right: 0px;
    }
}


#overlayBackground, #overlayImage
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}
#overlayBackground
{
    z-index: 100;
    opacity: 0.8;
    background-color: #000;
}
#overlayImage
{
    z-index: 120;

    a.overlay
    {
        width: 100%;
        height: 100%;
        z-index: 110;

        position: absolute;
        top: 0;
        left: 0;
    }
}
#overlayedImage
{
    position: relative;
    z-index: 120;

    max-width: 1000px;
    color: #fff;

    font-family: @font2;
    text-align: center;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    a
    {
        color: #fff;
    }
    img
    {
        border: 3px solid #fff;
        max-width: 100%;
    }
    div.link, div.previous
    {
        padding: 3px 0;
        width: 68%;
        text-align: left;
        position: relative;
        float: left;
    }
    div.close, div.next
    {
        padding: 3px 0;
        width: 30%;
        text-align: right;
        position: relative;
        float: right;
    }

    div.overlayLinks
    {
        position: relative;
    }
    div.overlayLinks a.previous, div.overlayLinks a.next
    {
        width: 35%;
        height: 100%;
        z-index: 150;

        position: absolute;
        top: 0;
    }
    div.overlayLinks a.previous
    {
        left: 0;
    }
    div.overlayLinks a.next
    {
        right: 0;
    }
}


#previousLinks, #nextLinks
{
    position: relative;
    width: 40%;

    padding: 30px 0px;

    a
    {
        color: #333;
    }
    div.postDate
    {
        color: #666;
    }
    div.title
    {
        font-size: 1em;
        font-family: @font2;
    }
}
#previousLinks
{
    text-align: left;
    float: left;
}
#nextLinks
{
    text-align: right;
    float: right;
}


div.postLink
{
    position: relative;
    padding-top: 10px;

    overflow: hidden;

    a
    {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
    }
    h2
    {
        font-family: @font2;
        font-size: 1.1em;
        margin-top: 10px;
    }
    div.postDate
    {
        font-size: 0.9em;
    }
}


#recentPosts, #recentPinnedPosts, #pagesLinks
{
    text-alight: right;
    float: left;
    position: relative;
    width: 32%;

    padding-right: 23px;

    a
    {
        color: #fff;
    }
    div.title
    {
        font-family: @font2;
        font-size: 1em;
    }
    div.postDate
    {
        color: #ccc;
    }
}
#pagesLinks
{
    width: 30%;
    padding-right: 0px;

    #iconLinks
    {
        padding-top: 20px;

        img
        {
            padding: 0px 16px 0px 0px;
        }
    }
}


#aboutMessage
{
    padding-top: 30px;
    font-size: 0.9em;
    color: #eee;

    a, b
    {
        color: #fff;
    }
    div.title
    {
        font-family: @font2;
        font-weight: bold;
        padding-bottom: 5px;
    }
}


#aboutMe
{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;

    #internetLinks, #gameLinks, #buyLinks, #codeLinks
    {
        float: left;
        position: relative;
        width: 32%;

        padding-right: 23px;
        padding-bottom: 10px;
    }
    #buyLinks
    {
        width: 30%;
        padding-right: 0px;
    }
    div.title
    {
        font-family: @font2;
        font-weight: bold;
        padding-bottom: 10px;
    }
    div.details
    {
        font-size: 1.1em;
        padding-bottom: 15px;
    }
    img
    {
        margin: 0px 10px 0px 0px;
    }
}


#archivePublished, #archiveCategories, #archiveYears
{
    font-size: 0.9em;
    text-align: left;
    width: 100%;

    margin-top: 5px;
    margin-bottom: 5px;

    td
    {
        color: #999;
        padding: 3px 3px;
    }
    td.top
    {
        font-weight: bold;
    }
    td.selected
    {
        background-color: #f6f6f6;
    }
}
#archivePublished, #archiveCategories
{
    margin-bottom: 5px;
}
#archiveCategories table, #archiveYears table
{
    width: 100%;
}


#archivePosts
{
    margin: 20px 0px;

    h1
    {
        font-size: 1.1em;
    }
    div.postDate
    {
        font-size: 0.8em;
    }
    div.postBody
    {
        font-size: 0.9em;
        width: 100%;
        padding-top: 15px;
    }

    div.left, div.right
    {
        position: relative;
        width: 47%;

        height: 294px;
        max-height: 294px;

        overflow-y: hidden;
        overflow-x: hidden;

        padding-top: 20px;
    }
    div.left
    {
        float: left;
    }
    div.right
    {
        float: right;
    }

    span
    {
        display: block;
        position: absolute;
        height: 100px;
        width: 100%;
        right: 0;
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        bottom: 0;
    }
}


#sixNenPosts, #fiveNenPosts, #threeFourNenPosts, #oneTwoNenPosts, #specialPosts
{
    width: 47%;
    position: relative;

    h2
    {
        padding-bottom: 30px;

        font-weight: bold;
        font-family: @font2;
        font-size: 1.1em;
    }

    div.miniPost
    {
        padding-bottom: 60px;
    }
    h1
    {
        font-size: 1.1em;
    }
    div.postDate
    {
        font-size: 0.8em;
    }
    div.postBody
    {
        font-size: 0.9em;
        width: 100%;
        padding-top: 15px;

        a
        {
            font-weight: bold;
        }
    }
    div.links
    {
        font-size: 1em;
        margin-top: 20px;

        a
        {
            font-family: @font2;
        }
    }
}
#sixNenPosts, #threeFourNenPosts, #specialPosts
{
    float: left;
}
#fiveNenPosts, #oneTwoNenPosts
{
    float: right;
}


#clubGalleries
{
    width: 100%;

    div.gallery
    {
        position: relative;
        float: left;

        background-color: #222;
        background-position: center;
        background-size: 130%;

        height: 180px;
        max-height: 180px;
        min-height: 180px;

        width: 32%;
        margin-right: 23px;

        margin-bottom: 25px;

        font-family: @font2;
        font-weight: bold;
        font-size: 1.1em;

        color: #fff;

        a
        {
            width: 100%;
            height: 100%;
            z-index: 10;

            position: absolute;
            top: 0;
            left: 0;
        }

        span
        {
            width: 100%;
            height: 100%;
            z-index: 0;


            position: absolute;
            top: 0;
            left: 0;

            background-color: #000;
            opacity: 0;
        }

        div.title
        {
            position: absolute;
            left: 10px;
            bottom: 7px;
            z-index: 5;

            padding-right: 10px;
        }
        div.postDate
        {
            position: absolute;
            left: 10px;
            top: 5px;
            z-index: 5;
        }
    }
    div.gallery:hover
    {
        span
        {
            opacity: 0.4;
        }
    }
    div.year
    {
        font-size: 1.5em;
        font-family: @font2;
        font-weight: bold;

        width: 100%;

        padding: 10px 0;
    }
    div.threeColumnLast
    {
        width: 30%;
        margin-right: 0;
    }
}

/* iphone viewport size */
@media all and (max-width: 700px)
{
    div.minSizeHidden
    {
        display: none;
        visibility: hidden;
    }
    div.postLink
    {
        width: 90%;
    }

    #postContent, #lessonContent
    {
        div.casting
        {
            padding: 0 30px;
        }
        div.castingFirst, div.castingMiddle, div.castingLast
        {
            width: 100%;

            padding-right: 0px;

            font-size: 0.7em;
        }
    }

    #previousLinks, #nextLinks
    {
        width: 100%;
    }
    #nextLinks
    {
        text-align: left;
        padding-top: 0;
    }

    #recentPosts, #recentPinnedPosts, #pagesLinks
    {
        width: 100%;
        padding-right: 0;
    }
    #recentPinnedPosts, #pagesLinks
    {
        padding-top: 40px;
    }

    #images
    {
        div.image
        {
            height: 100px;
            max-height: 100px;
            min-height: 100px;

            width: 46%;

            margin-bottom: 18px;
            margin-right: 18px;
        }
        div.twoColumnLast
        {
            margin-right: 0px;
        }
    }
    #overlayedImage
    {
        margin-top: 20px;
        max-width: 95%;
        width: 95%;
    }

    #aboutMe
    {
        #internetLinks, #gameLinks, #buyLinks, #codeLinks
        {
            width: 90%;
            padding-right: 0;
        }
    }

    #clubGalleries
    {
        div.gallery
        {
            height: 115px;
            max-height: 115px;
            min-height: 115px;

            width: 46%;

            margin-bottom: 18px;
            margin-right: 18px;

            font-size: 0.9em;
        }
        div.threeColumnLast
        {
        }
        div.twoColumnLast
        {
            margin-right: 0;
        }
    }
}