span.red
{
    color: @red;
}
span.green
{
    color: @green;
}
span.cyan
{
    color: @cyan;
}



#postContent
{
    table
    {
        width: 100%;
    }

    div.miniPost
    {
        padding-bottom: 60px;
    }

    div.gbcameraColumns
    {
        div.columnOne
        {
            width: 60%;
            margin-right: 0;
            position: relative;
            float: left;
        }
        div.columnTwo
        {
            width: 36%;
            margin-right: 0;
            position: relative;
            float: right;
        }
    }

    div.columns
    {
        div.column
        {
            width: 48%;
            margin-right: 3%;
            position: relative;
            float: left;
        }
        div.twoColumnLast
        {
            margin-right: 0;
            float: right;
        }
    }

    div.threeColumns
    {
        width: 100%;

        div.column
        {
            width: 31%;
            margin-right: 3%;
            position: relative;
            float: left;
        }
        div.threeColumnLast
        {
            margin-right: 0;
            float: right;
        }
    }

    div.fourColumns
    {
        div.column
        {
            width: 23%;
            margin-right: 2.5%;
            position: relative;
            float: left;
        }
        div.fourColumnLast
        {
            width: 23%;
            margin-right: 0;
            float: right;
        }
    }

    div.sixColumns
    {
        div.column
        {
            width: 15%;
            margin-right: 1%;
            position: relative;
            float: left;
        }
        div.sixColumnLast
        {
            width: 13%;
            margin-right: 0;
            float: right;
        }
    }

    div.eightColumns
    {
        div.column
        {
            width: 11%;
            margin-right: 1%;
            position: relative;
            float: left;
        }
        div.eightColumnLast
        {
            margin-right: 0;
            float: right;
        }
    }


    div.chart
    {
        width: 100%;
        line-height: 160%;
        text-align: center;

        p
        {
            margin-top: 0;
            margin-bottom: 0;
        }

        p.small
        {
            font-size: 70%;
            line-height: 80%;
        }

        div
        {
            margin-top: 10px;
        }
    }

    div.attendanceChart
    {
        div.school
        {
            width: 44%;
            margin-right: 1%;
            position: relative;
            float: left;

            text-align: left;
        }
        div.column
        {
            width: 7%;
            margin-right: 1%;
            position: relative;
            float: left;
        }
        div.lastColumn
        {
            margin-right: 0;
            float: right;
        }
    }

    div.timeChart
    {
        div.time
        {
            width: 12%;
            margin-right: 3%;
            position: relative;
            float: left;
        }
        div.content
        {
            width: 69%;
            margin-right: 3%;
            position: relative;
            float: left;

            text-align: left;
        }
        div.attendance
        {
            width: 12%;
            margin-right: 0;
            float: right;
        }
    }

    div.castingFirst, div.castingMiddle, div.castingLast
    {
        position: relative;
        float: left;

        width: 32%;

        padding-right: 3%;

        font-size: 0.7em;

        div.left
        {
            text-align: left;
            position: relative;
            float: left;
        }
        div.right
        {
            text-align: right;
            position: relative;
            float: right;
        }
    }
    div.castingFirst, div.castingMiddle
    {
        div.left
        {
            width: 55%;
        }
        div.right
        {
            width: 45%;
        }
    }
    div.castingLast
    {
        width: 30%;
        padding-right: 0;

        div.left
        {
            width: 43%;
        }
        div.right
        {
            width: 57%;
        }
    }

    table.tracklisting
    {
        width: 70%;
        margin-left: auto;
        margin-right: auto;

        font-size: 0.8em;

        td.number
        {
        }
        td.title
        {
            font-weight: bold;
        }
        td.notes
        {
            text-align: right;
        }
    }

    div.tracks
    {
        font-size: 0.8em;
    }
}

#images
{
    margin-top: 10px;
    padding-bottom: 50px;

    div.title
    {
        font-family: @font2;
        margin: 20px 0;
    }
    div.image
    {
        background-position: center;
        background-size: 215%;
        opacity: 0.7;

        height: 180px;
        max-height: 180px;
        min-height: 180px;

        width: 24%;

        position: relative;
        float: left;

        margin-right: 1%;
        margin-bottom: 9px;

        a
        {
            position: absolute;
            width: 100%;
            height: 100%;

            top: 0;
            left: 0;
        }
    }
    div.image:hover
    {
        opacity: 1;
    }
    div.fourColumnLast
    {
        margin-right: 0;
    }
}


div.overlayBackground, #overlayImage
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}
div.overlayBackground
{
    z-index: 100;
    opacity: 0.8;
    background-color: #000;
}
#overlayMenuBackground
{
    z-index: 80;
}
#overlayImage
{
    z-index: 120;

    background-repeat: no-repeat;
    background-attachement: fixed;
    background-position: center center;
    background-size: contain;

    color: #fff;

    font-family: @font2;
    text-align: center;

    a
    {
        color: #fff;
    }

    div.textBox
    {
        z-index: 150;

        margin: 20px;
        padding: 5px 10px;
        background-color: rgba(0,0,0,0.4);
        position: relative;
    }

    div.imageLink
    {
        text-align: left;
        float: left;
    }
    div.close
    {
        text-align: right;
        float: right;
    }
    div.comment
    {
        position: absolute;
        bottom: 0;
        width: 100%;

        text-align: center;

        div.textBox
        {
            display: inline-block;
            max-width: 500px;

            text-align: left;
        }
    }

    div.overlayLink
    {
        display: table;
        position: absolute;
        top: 0;
        height: 100%;
        width: 35%;

        a.link
        {
            width: 100%;
            height: 100%;

            position: absolute;
            top: 0;
            left: 0;
        }

        div.center
        {
            display: table-cell;
            vertical-align: middle;
        }
    }

    div.next
    {
        right: 0;

        div.textBox
        {
            text-align: right;
            float: right;
        }
    }
    div.previous
    {
        left: 0;

        div.textBox
        {
            text-align: left;
            float: left;
        }
    }
}
#overlayMenu
{
    z-index: 120px;

    width: 150px;
    top: 44px;
    right: 0;
    position: fixed;

    background-color: @backgroundcolor;

    font-family: @font2;
    text-align: right;

    a:hover
    {
        text-decoration: underline;
    }

    div.menuLinks
    {
        float: right;
        position: relative;
        width: 100%;

        padding: 8px 20px;
    }

    div.menuSubheaderLinks
    {
        background-color: @subheaderMenuColor;
        font-size: 0.8em;

        float: right;
        position: relative;
        width: 116px;

        margin: 8px;
        padding: 8px;

        div.categoryTitle
        {
            text-align: left;
            padding: 0 4px;
        }
        div.menuSubLinks
        {
            padding: 8px 4px;
        }
    }
}

#previousNext
{
    width: 100%;

    padding-bottom: 30px;

    a
    {
        color: @textcolor;
    }
    div.postNumber
    {
        display: none;
        visibility: hidden;
    }
    div.postDate
    {
        color: #666;
    }
    div.title
    {
        font-size: 1em;
        font-family: @font2;
    }

    div.previousLinks, div.nextLinks
    {
        position: relative;
        width: 49%;

        padding-top: 30px;
    }
    div.previousLinks
    {
        text-align: left;
        float: left;

        padding-right: 1%;
    }
    div.nextLinks
    {
        text-align: right;
        float: right;

        padding-left: 1%;
    }
}


div.postLink
{
    position: relative;
    padding-top: 12px;
    padding-bottom: 8px;

    overflow: hidden;

    a
    {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        z-index: 10;
    }
    h2
    {
        font-family: @font2;
        font-size: 1.1em;
    }
    div.postDate
    {
        font-size: 0.9em;
    }
}


#recentPosts, #recentPinnedPosts, #pagesLinks
{
    float: left;
    position: relative;
    width: 31%;

    padding-right: 3%;

    a
    {
        color: #fff;
    }
    div.title
    {
        font-family: @font2;
        font-size: 1em;
    }
    div.postDate
    {
        color: #ccc;
    }
}
#pagesLinks
{
    padding-right: 0;

    #iconLinks
    {
        padding-top: 20px;

        div.seed
        {
            position: relative;
            float: left;

            width: 60px;
            height: 60px;

            img
            {
                border-radius: 50%;

                width: 60px;
                height: 60px;
            }
        }

        div.icon
        {
            position: relative;
            float: left;

            margin: 15px 12px 0 0;

            background-color: @bodycolor;
            border-radius: 7px;

            width: 30px;
            height: 30px;

            img
            {
                filter: brightness(15.6%);

                width: 30px;
                height: 30px;
            }
        }
    }
}


#aboutMessage
{
    padding-top: 15px;
    font-size: 0.9em;
    color: #eee;

    a, b
    {
        color: #fff;
    }
    div.title
    {
        font-family: @font2;
        font-weight: bold;
        padding-bottom: 5px;
    }
}


/* iphone viewport size */
@media all and (max-width: 767px)
{
    .minSizeHidden
    {
        display: none;
        visibility: hidden;
    }
    div.postLink
    {
        width: 90%;
    }

    #postContent
    {
        div.columns
        {
            div.column
            {
                width: 100%;
                margin-right: 0%;
                position: relative;
                float: left;
            }
        }
        div.casting
        {
            padding: 0 30px;
        }
        div.castingFirst, div.castingMiddle, div.castingLast
        {
            width: 100%;

            padding-right: 0;

            font-size: 0.7em;
        }
    }

    #previousNext
    {
        div.previousLinks, div.nextLinks
        {
            width: 100%;
        }
        div.nextLinks
        {
            text-align: left;
        }
    }

    #recentPosts, #recentPinnedPosts, #pagesLinks
    {
        width: 100%;
        padding-right: 0;
    }
    #recentPinnedPosts, #pagesLinks
    {
        padding-top: 40px;
    }

    #images
    {
        div.image
        {
            height: 100px;
            max-height: 100px;
            min-height: 100px;

            width: 49%;

            margin-right: 1%;
            margin-bottom: 4px;
        }
        div.twoColumnLast
        {
            margin-right: 0;
        }
    }
    #overlayedImage
    {
        margin-top: 20px;
        max-width: 95%;
        width: 95%;
    }
}

/* ipad viewport size */
@media all and (min-width: 768px) and (max-width: 1000px)
{
    #postContent
    {
        div.castingFirst, div.castingMiddle, div.castingLast
        {
            width: 47%;
            padding-right: 0;
        }
        div.castingFirst
        {
            padding-right: 6%;
        }
    }

    #pagesLinks #iconLinks img
    {
        padding: 0 4px 0 0;
    }

    #images
    {
        div.image
        {
            height: 140px;
            max-height: 140px;
            min-height: 140px;

            margin-bottom: 5px;
        }
        div.fourColumnLast
        {
            margin-right: 0;
        }
    }
    #overlayedImage
    {
        margin-top: 20px;
        max-width: 95%;
        width: 95%;
    }
}