
.clr { clear: both; }

@games_text_color: #444;
@pocket_text_color: #f0f0f0;

@border_color: #333;

body
{
    font-family: arial;
}

body.games
{
    color: @games_text_color;
    background-color: #ddd;

    a   { color: @games_text_color; }

    td.even   { background-color: #fff; }
    td.odd    { background-color: #f4f4f4; }
}

body.pocket
{
    color: @pocket_text_color;
    background-color: #666;

    h2   { color: #fff; }
    h2 a { color: #fff; }
    a    { color: @pocket_text_color; }

    td.even   { background-color: #555; }
    td.odd    { background-color: #5f5f5f; }

    span.zero { color: #999; }

    div.name
    {
        font-size: 24px;
        font-weight: bold;
        color: #fff;
    }
}

h2
{
    margin-left: 10px;
}

a
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

.bold
{
    font-weight: bold;
}

div.body
{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

table.layout
{
    width: 100%;
    max-width: 100%;

    td
    {
        vertical-align: top;

        width: 25%;
    }

    td.data
    {
        width: 75%;
    }

    td.common
    {
        height: 210px;
    }
}

div.panel, div.list
{
    padding: 10px;

    margin-top: 0px;
    margin-bottom: 20px;

    margin-left: auto;
    margin-right: auto;
}

div.panel
{
    width: 90%;
}

div.list
{
    padding-top: 0px;
    width: 97%;
}

div.coreData
{
    padding: 12px;
    padding-bottom: 0;

    margin-top: 0px;
    margin-bottom: 0px;

    margin-left: auto;
    margin-right: auto;

    table, tbody, td, tr
    {
        padding: 0px;
        margin: 0px;
        border-spacing: 0px;
    }

    table
    {
        td.image
        {
            width: 40%;
        }

        td.data
        {
            width: 60%;
            vertical-align: middle;

            div
            {
                padding: 5px;
                padding-left: 20px;
            }
        }
    }
}

img.core
{
    height: 130px;
}

div.genre
{
    padding-bottom: 10px;
}

table.platformData, table.gameList, table.hardwareList
{
    width: 100%;

    text-align: center;

    border-collapse: collapse;


    td, th
    {
        padding: 4px;
        border: 1px solid @border_color;
    }

    th
    {
        font-weight: bold;
        color: #fff;
    }

    td.empty
    {
        border: 0px;
    }
}

table.gameList, table.hardwareList
{
    border: 2px solid @border_color;

    font-size: 10pt;

    a
    {
        font-weight: bold;
    }

    th.allGames       { width: 100%; }

    td.name           { width: 35%; text-align: left; }

    td.platColor      { width: 3%; color: #fff; }

    td.developer      { width: 19%; }

    td.publisher      { width: 19%; }
    td.manufacturer   { width: 19%; }

    td.releaseDate    { width: 10%; }

    td.condition      { width: 9%; }
    td.hardwareType   { width: 9%; }

    td.genre          { width: 14%; }

    td.region         { width: 9%; }
    td.core           { width: 5%; }
}

table.platformData
{
    border: 0px;

    th, td.totalConsoleCount
    {
        font-weight: bold;
        color: #fff;
        background-color: #444;
    }

    .outerTop
    {
        border-top: 2px solid @border_color;
    }

    .outerBottom
    {
        border-bottom: 2px solid @border_color;
    }

    .outerLeft
    {
        border-left: 2px solid @border_color;
    }

    .outerRight
    {
        border-right: 2px solid @border_color;
    }

    td.empty
    {
        border: 0px;
    }

    td.name, th.name
    {
        width: 70%;
        color: #fff;
        a
        {
            color: #fff;
        }
    }

    .totalCount
    {
        font-weight: bold;
        font-size: 36pt;
    }
}

th.blank,td.blank { background-color: #444; }

@nes:  #e13124;     th.nes,  td.nes   { background-color: @nes; }    span.nes   { color: @nes; }
@snes: #8752c4;     th.snes, td.snes  { background-color: @snes; }   span.snes  { color: @snes; }
@n64:  #430da4;     th.n64,  td.n64   { background-color: @n64; }    span.n64   { color: @n64; }
@gc:   #6e20dd;     th.gc,   td.gc    { background-color: @gc; }     span.gc    { color: @gc; }
@wii:  #cd26dd;     th.wii,  td.wii   { background-color: @wii; }    span.wii   { color: @wii; }
@wiiu: #e13146;     th.wiiu, td.wiiu  { background-color: @wiiu; }   span.wiiu  { color: @wiiu; }
@sw:   #f42e41;     th.sw,   td.sw    { background-color: @sw; }     span.sw    { color: @sw; }
@gb:   #8a2b63;     th.gb,   td.gb    { background-color: @gb; }     span.gb    { color: @gb; }
@gbc:  #aa214b;     th.gbc,  td.gbc   { background-color: @gbc; }    span.gbc   { color: @gbc; }
@gba:  #d1273b;     th.gba,  td.gba   { background-color: @gba; }    span.gba   { color: @gba; }
@nds:  #6f32cc;     th.nds,  td.nds   { background-color: @nds; }    span.nds   { color: @nds; }
@n3ds: #b132cc;     th.n3ds, td.n3ds  { background-color: @n3ds; }   span.n3ds  { color: @n3ds; }
@ps1:  #4489ca;     th.ps1,  td.ps1   { background-color: @ps1; }    span.ps1   { color: @ps1; }
@ps2:  #0000b8;     th.ps2,  td.ps2   { background-color: @ps2; }    span.ps2   { color: @ps2; }
@ps3:  #332cf4;     th.ps3,  td.ps3   { background-color: @ps3; }    span.ps3   { color: @ps3; }
@ps4:  #0000f4;     th.ps4,  td.ps4   { background-color: @ps4; }    span.ps4   { color: @ps4; }
@ps5:  #428fee;     th.ps5,  td.ps5   { background-color: @ps5; }    span.ps5   { color: @ps5; }
@psp:  #3561ac;     th.psp,  td.psp   { background-color: @psp; }    span.psp   { color: @psp; }
@psv:  #264585;     th.psv,  td.psv   { background-color: @psv; }    span.psv   { color: @psv; }
@xbx:  #53c524;     th.xbx,  td.xbx   { background-color: @xbx; }    span.xbx   { color: @xbx; }
@x360: #8fbe4a;     th.x360, td.x360  { background-color: @x360; }   span.x360  { color: @x360; }
@xone: #366d1c;     th.xone, td.xone  { background-color: @xone; }   span.xone  { color: @xone; }
@xsx:  #559f2e;     th.xsx,  td.xsx   { background-color: @xsx; }    span.xsx   { color: @xsx; }
@gen:  #ae4921;     th.gen,  td.gen   { background-color: @gen; }    span.gen   { color: @gen; }
@scd:  #cd5328;     th.scd,  td.scd   { background-color: @scd; }    span.scd   { color: @scd; }
@sat:  #ba8431;     th.sat,  td.sat   { background-color: @sat; }    span.sat   { color: @sat; }
@dc:   #ff5837;     th.dc,   td.dc    { background-color: @dc; }     span.dc    { color: @dc; }
@ng:   #cea500;     th.ng,   td.ng    { background-color: @ng; }     span.ng    { color: @ng; }



@genesis:  #9a2121;     th.genesis,  td.genesis   { background-color: @genesis; }
@pcecd:    #3c5abc;     th.pcecd,    td.pcecd     { background-color: @pcecd; }
@pce:      #4058a5;     th.pce,      td.pce       { background-color: @pce; }
@coleco:   #a7327c;     th.coleco,   td.coleco    { background-color: @coleco; }
@a2600:    #a42d3b;     th.a2600,    td.a2600     { background-color: @a2600; }
@a7800:    #971525;     th.a7800,    td.a7800     { background-color: @a7800; }
@sg1000:   #3f24b4;     th.sg1000,   td.sg1000    { background-color: @sg1000; }
@sms:      #2f32bd;     th.sms,      td.sms       { background-color: @sms; }
@odyssey2: #ba351a;     th.odyssey2, td.odyssey2  { background-color: @odyssey2; }
@vb:       #c01428;     th.vb,       td.vb        { background-color: @vb; }

@arduboy:      #c90c0c;    th.arduboy,      td.arduboy        { background-color: @arduboy; }
@gameandwatch: #d1551e;    th.gameandwatch, td.gameandwatch   { background-color: @gameandwatch; }
@gg:           #1b44cb;    th.gg,           td.gg             { background-color: @gg; }
@wonderswan:   #1b6abb;    th.wonderswan,   td.wonderswan     { background-color: @wonderswan; }
@poke_mini:    #1c813b;    th.poke_mini,    td.poke_mini      { background-color: @poke_mini; }
@supervision:  #097c47;    th.supervision,   td.supervision   { background-color: @supervision; }

@jtcps2:   #bb9d10;    th.jtcps2,   td.jtcps2    { background-color: @jtcps2; }
@jtcps1:   #b49b25;    th.jtcps1,   td.jtcps1    { background-color: @jtcps1; }
@jts16b:   #2e3ad0;    th.jts16b,   td.jts16b    { background-color: @jts16b; }
@jtkiwi:   #2267b4;    th.jtkiwi,   td.jtkiwi    { background-color: @jtkiwi; }
@tecmo:    #d02e3a;    th.tecmo,    td.tecmo     { background-color: @tecmo; }
@jtaliens: #1e6e9c;    th.jtaliens, td.jtaliens  { background-color: @jtaliens; }
@jtpang:   #0558c8;    th.jtpang,   td.jtpang    { background-color: @jtpang; }

@amiga:    #a1313e;    th.amiga,    td.amiga     { background-color: @amiga; }

@arcade:   #97389d;    th.arcade,   td.arcade    { background-color: @arcade; }