

body
{
    font-family: arial;
    color: #555;
}

div.body
{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

table.layout
{
    width: 100%;
    max-width: 100%;

    border: 1px solid #ccc;

    td
    {
        vertical-align: top;

        width: 25%;
    }
}

div.panel
{
    width: 100%;

    padding: 5px;

    margin-top: 0px;
    margin-bottom: 20px;

    margin-left: auto;
    margin-right: auto;
    width: 95%;

    border: 1px solid #0ff;
}

table.platformData
{
    text-align: center;

    border: 1px solid #999;
}