

@text_color: #444;

@border_color: #333;

@nes:  #e13124;
@snes: #8752c4;
@n64:  #430da4;
@gc:   #6e20dd;
@wii:  #cd26dd;
@wiiu: #e13146;
@sw:   #f42e41;
@gb:   #8a2b63;
@gbc:  #aa214b;
@gba:  #d1273b;
@nds:  #6f32cc;
@n3ds: #b132cc;
@ps1:  #4489ca;
@ps2:  #0000b8;
@ps3:  #332cf4;
@ps4:  #0000f4;
@ps5:  #428fee;
@psp:  #3561ac;
@psv:  #264585;
@xbx:  #53c524;
@x360: #8fbe4a;
@xone: #366d1c;
@xsx:  #559f2e;
@gen:  #ae4921;
@scd:  #cd5328;
@sat:  #ba8431;
@dc:   #ff5837;
@ng:   #cea500;


body
{
    font-family: arial;
    color: @text_color;

    background-color: #ddd;
}

h2
{
    margin-left: 10px;
}

a
{
    text-decoration: none;
    color: @text_color;
}

a:hover
{
    text-decoration: underline;
}

.bold
{
    font-weight: bold;
}

div.body
{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

table.layout
{
    width: 100%;
    max-width: 100%;

    td
    {
        vertical-align: top;

        width: 25%;
    }

    td.data
    {
        width: 75%;
    }

    td.common
    {
        height: 210px;
    }
}

div.panel, div.list
{
    padding: 10px;

    margin-top: 0px;
    margin-bottom: 20px;

    margin-left: auto;
    margin-right: auto;
}

div.panel
{
    width: 90%;
}

div.list
{
    width: 97%;
}

table.platformData, table.gameList
{
    width: 100%;

    text-align: center;

    border-collapse: collapse;


    td, th
    {
        padding: 4px;
        border: 1px solid @border_color;
    }

    th
    {
        font-weight: bold;
        color: #fff;
    }

    td.empty
    {
        border: 0px;
    }

    td.even
    {
        background-color: #fff;
    }

    td.odd
    {
        background-color: #f4f4f4;
    }
}

table.gameList
{
    border: 2px solid @border_color;

    font-size: 10pt;

    td.name        { width: 35%; text-align: left; }
    td.developer   { width: 18%; }
    td.publisher   { width: 18%; }
    td.releaseDate { width: 11%; }
    td.condition   { width: 9%; }
    td.region      { width: 9%; }
}

table.platformData
{
    border: 0px;

    th, td.totalConsoleCount
    {
        font-weight: bold;
        color: #fff;
        background-color: #444;
    }

    .outerTop
    {
        border-top: 2px solid @border_color;
    }

    .outerBottom
    {
        border-bottom: 2px solid @border_color;
    }

    .outerLeft
    {
        border-left: 2px solid @border_color;
    }

    .outerRight
    {
        border-right: 2px solid @border_color;
    }

    td.empty
    {
        border: 0px;
    }

    td.name, th.name
    {
        width: 70%;
        color: #fff;
        a
        {
            color: #fff;
        }
    }

    .totalCount
    {
        font-weight: bold;
        font-size: 36pt;
    }
}


th.nes,  td.nes   { background-color: @nes; }
th.snes, td.snes  { background-color: @snes; }
th.n64,  td.n64   { background-color: @n64; }
th.gc,   td.gc    { background-color: @gc; }
th.wii,  td.wii   { background-color: @wii; }
th.wiiu, td.wiiu  { background-color: @wiiu; }
th.sw,   td.sw    { background-color: @sw; }
th.gb,   td.gb    { background-color: @gb; }
th.gbc,  td.gbc   { background-color: @gbc; }
th.gba,  td.gba   { background-color: @gba; }
th.nds,  td.nds   { background-color: @nds; }
th.n3ds, td.n3ds  { background-color: @n3ds; }
th.ps1,  td.ps1   { background-color: @ps1; }
th.ps2,  td.ps2   { background-color: @ps2; }
th.ps3,  td.ps3   { background-color: @ps3; }
th.ps4,  td.ps4   { background-color: @ps4; }
th.ps5,  td.ps5   { background-color: @ps5; }
th.psp,  td.psp   { background-color: @psp; }
th.psv,  td.psv   { background-color: @psv; }
th.xbx,  td.xbx   { background-color: @xbx; }
th.x360, td.x360  { background-color: @x360; }
th.xone, td.xone  { background-color: @xone; }
th.xsx,  td.xsx   { background-color: @xsx; }
th.gen,  td.gen   { background-color: @gen; }
th.scd,  td.scd   { background-color: @scd; }
th.sat,  td.sat   { background-color: @sat; }
th.dc,   td.dc    { background-color: @dc; }
th.ng,   td.ng    { background-color: @ng; }

span.nes   { color: @nes; }
span.snes  { color: @snes; }
span.n64   { color: @n64; }
span.gc    { color: @gc; }
span.wii   { color: @wii; }
span.wiiu  { color: @wiiu; }
span.sw    { color: @sw; }
span.gb    { color: @gb; }
span.gbc   { color: @gbc; }
span.gba   { color: @gba; }
span.nds   { color: @nds; }
span.n3ds  { color: @n3ds; }
span.ps1   { color: @ps1; }
span.ps2   { color: @ps2; }
span.ps3   { color: @ps3; }
span.ps4   { color: @ps4; }
span.ps5   { color: @ps5; }
span.psp   { color: @psp; }
span.psv   { color: @psv; }
span.xbx   { color: @xbx; }
span.x360  { color: @x360; }
span.xone  { color: @xone; }
span.xsx   { color: @xsx; }
span.gen   { color: @gen; }
span.scd   { color: @scd; }
span.sat   { color: @sat; }
span.dc    { color: @dc; }
span.ng    { color: @ng; }