div.photos
{
    position: absolute;
    top: -150px;
    left: 0;
    right: 0;

    margin: 0;
    min-height: 100vh;
    place-items: center;
}

.gallery {
    --size: 200px;
    display: grid;
    grid-template-columns: repeat(10, var(--size));
    grid-auto-rows: var(--size);
    margin-bottom: var(--size);
    place-items: start center;
    gap: 0px;

    & img {
        object-fit: cover;
        width: calc(var(--size) * 2);
        height: calc(var(--size) * 2);
        clip-path: path("M 200 0 L 400 200 L 200 400 L 0 200 L 200 0 Z");
        grid-column: auto / span 2;
        border-radius: 5px;

        &:nth-child(9n - 3) {
            grid-column: 2 / span 2
        }
    }
}