@bg_color: #fff;
@shadow_color_menu: #ccc;
@shadow_color_tile: #999;

body
{
    font-family: noto sans,sans-serif;
    font-size: 14px;

    color: #464646;
    background-color: @bg_color;
}

td
{
    padding: 3px;
    padding-bottom: 12px;
}

td span.label
{
    font-size: 11px;
    color: #646464;
}

td.column0, td.column3, td.column8
{
    padding-right: 12px;
}

#raidTitleBar
{
    div.outer
    {
        width: 18px;

        padding: 5px 19px 4px 5px;

        display: inline-block;
    }

    div.inner
    {
        border-radius: 12px;
        box-shadow: 1px 1px 15px @shadow_color_menu;

        width: 100%;

        background-color: #fff;
        padding: 6px 7px;


        text-align: center;
    }
}

#raidPokemon
{
    td.header
    {
        div.box
        {
            position: relative;

            border-radius: 12px;
            box-shadow: 1px 1px 15px @shadow_color_menu;

            background-color: #fff;
            padding: 6px 10px;
            font-weight: bold;
        }

        div.bossTitle
        {
            display: inline-block;

            width: 69%;
        }

        div.filters
        {
            display: inline-block;

            position: absolute;
            top: 0;
            right: 0;

            line-height: 29px;
            padding-right: 7px;

            width: 20%;
            text-align: right;

            font-size: 10px;
            font-family: times;
            font-weight: normal;
        }
    }

    td.raidBoss
    {
        min-width: 150px;
        height: 160px;

        div.container
        {
            border-radius: 12px;
            box-shadow: 1px 1px 15px @shadow_color_menu;

            width: 100%;
            height: 100%;
            position: relative;

            background-color: #fff;
            background-image: linear-gradient(45deg, #f3f3f3, transparent, transparent);


            div.image
            {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 0;

                background-repeat: no-repeat;
                background-position: right 0px top 0px;
            }

            div.category
            {
                font-size: 10px;
                font-family: times;

                position: absolute;
                top: 0;
                left: 0;

                padding-top: 4px;
                padding-left: 8px;
            }

            div.details
            {
                position: absolute;
                bottom: 0;
                left: 0;

                padding-left: 8px;
                padding-bottom: 7px;

                span.title
                {
                    font-weight: bold;
                    font-size: 16px;
                }
            }
        }
    }

    td.counter
    {
        min-width: 135px;
        height: 160px;

        div.shadow
        {
            background-image: linear-gradient(45deg, rgba(89,0,38,1), transparent);
        }

        div.mega
        {
            background-image: linear-gradient(45deg, rgba(0,0,0,1), transparent, transparent);
        }

        div.regular
        {
            background-image: linear-gradient(45deg, rgba(0,0,0,0.6), transparent);
        }

        div.container
        {
            border-radius: 12px;
            box-shadow: 1px 1px 15px @shadow_color_tile;

            width: 100%;
            height: 100%;
            position: relative;

            div.image
            {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 0;

                opacity: 0.8;
                background-repeat: no-repeat;
                background-position: right -5px top -15px;
            }

            div.ranking
            {
                position: absolute;
                top: -15px;
                left: 0px;

                font-size: 100px;
                font-weight: bold;
                color: rgba(255, 255, 255, 0.3);
            }

            div.category
            {
                font-size: 10px;
                font-family: times;
                color: #fff;

                position: absolute;
                top: 0;
                right: 0;

                padding-top: 4px;
                padding-right: 8px;
            }

            div.details
            {
                position: absolute;
                color: #fff;
                bottom: 0;
                left: 0;

                padding-left: 5px;
                padding-bottom: 3px;

                span.label
                {
                    color: #ccc;
                }
            }
        }
    }

    @normal:   #54573b;
    @fire:     #793d04;
    @water:    #364668;
    @grass:    #366424;
    @electric: #7c690f;

    @ice:      #4a6f71;
    @fighting: #680d00;
    @poison:   #52124e;
    @ground:   #706130;
    @flying:   #524867;

    @psychic:  #7b2443;
    @bug:      #505e12;
    @rock:     #5d5310;
    @ghost:    #37254f;
    @dragon:   #302456;

    @dark:     #3e2e23;
    @steel:    #5e5e6d;
    @fairy:    #7b4c58;

    div.normal {    background-color: @normal; }   span.normal   { color: @normal; }
    div.fire {      background-color: @fire; }     span.fire     { color: @fire; }
    div.water {     background-color: @water; }    span.water    { color: @water; }
    div.grass {     background-color: @grass; }    span.grass    { color: @grass; }
    div.electric {  background-color: @electric; } span.electric { color: @electric; }

    div.ice {       background-color: @ice; }      span.ice      { color: @ice; }
    div.fighting {  background-color: @fighting; } span.fighting { color: @fighting; }
    div.poison {    background-color: @poison; }   span.poison   { color: @poison; }
    div.ground {    background-color: @ground; }   span.ground   { color: @ground; }
    div.flying {    background-color: @flying; }   span.flying   { color: @flying; }

    div.psychic {   background-color: @psychic; }  span.psychic  { color: @psychic; }
    div.bug {       background-color: @bug; }      span.bug      { color: @bug; }
    div.rock {      background-color: @rock; }     span.rock     { color: @rock; }
    div.ghost {     background-color: @ghost; }    span.ghost    { color: @ghost; }
    div.dragon {    background-color: @dragon; }   span.dragon   { color: @dragon; }

    div.dark {      background-color: @dark; }     span.dark     { color: @dark; }
    div.steel {     background-color: @steel; }    span.steel    { color: @steel; }
    div.fairy {     background-color: @fairy; }    span.fairy    { color: @fairy; }
}
