body
{
    font-family: noto sans,sans-serif;
    font-size: 14px;

    color: #464646;
}

td
{
    padding: 2px;
    border-bottom: 1px solid #ddd;

    min-width: 110px;
}

td span.label
{
    font-size: 11px;
    color: #646464;
}

td.column3, td.column8
{
    border-right: 25px solid #fff;
}

#raidPokemon
{
    td.raidBoss
    {
        font-weight: bold;
        font-size: 16px;

        width: 140px;

        background-repeat: no-repeat;
    }

    td.counter
    {
        div.container
        {
            width: 100%;
            height: 100%;
            position: relative;

            div.image
            {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;

                opacity: 0.6;
                background-repeat: no-repeat;
            }

            div.pokemonDetails
            {
                position: relative;
                color: #fff;

            }
        }
    }

    td.normal {    background-color: #54573b; }
    td.fire {      background-color: #793d04; }
    td.water {     background-color: #364668; }
    td.grass {     background-color: #366424; }
    td.electric {  background-color: #7c690f; }

    td.ice {       background-color: #4a6f71; }
    td.fighting {  background-color: #680d00; }
    td.poison {    background-color: #52124e; }
    td.ground {    background-color: #706130; }
    td.flying {    background-color: #524867; }

    td.psychic {   background-color: #7b2443; }
    td.bug {       background-color: #505e12; }
    td.rock {      background-color: #5d5310; }
    td.ghost {     background-color: #37254f; }
    td.dragon {    background-color: #302456; }

    td.dark {      background-color: #3e2e23; }
    td.steel {     background-color: #5e5e6d; }
    td.fairy {     background-color: #7b4c58; }
}

td.Gengar {         background-color: #e6e6ff; }
td.Chandelure {     background-color: #f2e6ff; }
td.Giratina {       background-color: #f2e6ff; }

td.Darkrai {        background-color: #e0e0eb; }
td.Hydreigon {      background-color: #d1d7ee; }

td.Blaziken {       background-color: #ffccb3; }
td.Charizard {      background-color: #ffccb3; }

td.Rampardos {      background-color: #f2e6d9; }
td.Tyranitar {      background-color: #e0e0d1; }
td.Rhyperior {      background-color: #ffe699; }

td.Groudon {        background-color: #ffd9b3; }
td.Excadrill {      background-color: #ffe6b3; }

td.Kyogre {         background-color: #b3e6ff; }
td.Swampert {       background-color: #cce6ff; }

td.Mewtwo {         background-color: #ffddff; }

td.Machamp {        background-color: #ffb3b3; }
td.Conkeldurr {     background-color: #ffb3b3; }
td.Lucario {        background-color: #ecc6d9; }

td.Zekrom {         background-color: #ffffbc; }
td.Electivire {     background-color: #ffffcc; }
td.Ampharos {       background-color: #f2ffcc; }

td.Mamoswine {      background-color: #e6ffff; }
td.Darmanitan {     background-color: #e6ffff; }

td.Rayquaza {       background-color: #adadeb; }
td.Salamence {      background-color: #b3b3ff; }
td.Dragonite {      background-color: #b3b3ff; }
td.Garchomp {       background-color: #b3b3ff; }

td.Metagross {      background-color: #f0f0f5; }

td.Venusaur {       background-color: #c6ecd9; }
td.Sceptile {       background-color: #c6ecd9; }

td.Honchkrow {      background-color: #c2d1f0; }
