web.domain=

cache.pokemon.raidcounters=true

hibernate.connection.url.local=
hibernate.connection.username.local=
hibernate.connection.password.local=

webdirectory.location.local=
datadirectory.location.local=
githubdirectory.location.local=

hibernate.connection.url.hosted=
hibernate.connection.username.hosted=
hibernate.connection.password.hosted=

webdirectory.location.hosted=
datadirectory.location.hosted=
githubdirectory.location.hosted=
github.location.online=

new.connection.username.hosted=
new.connection.password.hosted=

google.credentials.filepath=
indexnow.api.key=

playstation.directory.drive=
playstation.directory.data=

dreamcast.directory.drive=
dreamcast.directory.data=

gamecube.directory.drive=
gamecube.directory.data=

boxart.source.url=

github.html.repo=
github.content.repo=
github.photos.repo=
github.ps2.repo=
github.memcard-repo=
github.pokemon.repo=

discord.webhook=