<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.provider_class">com.jolbox.bonecp.provider.BoneCPConnectionProvider</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <property name="hbm2ddl.auto">update</property>
        <!--
        -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>

        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>


        <property name="bonecp.partitionCount">1</property>
        <property name="bonecp.maxConnectionsPerPartition">1</property>
        <property name="bonecp.minConnectionsPerPartition">1</property>
        <property name="bonecp.acquireIncrement">1</property>

        <property name="bonecp.idleMaxAge">120</property>
        <property name="bonecp.idleConnectionTestPeriod">60</property>
        <property name="bonecp.statementsCacheSize">50</property>
        <property name="bonecp.releaseHelperThreads">3</property>


        <mapping resource="com/schlock/website/entities/blog/AbstractCategory.hbm.xml" />
        <mapping resource="com/schlock/website/entities/blog/AbstractPost.hbm.xml" />
        <mapping resource="com/schlock/website/entities/blog/Keyword.hbm.xml" />
        <mapping resource="com/schlock/website/entities/blog/Image.hbm.xml" />

        <mapping resource="com/schlock/website/entities/twitter/Tweet.hbm.xml" />

        <mapping resource="com/schlock/website/entities/apps/japanese/Kanji.hbm.xml" />

        <mapping resource="com/schlock/website/entities/apps/kendo/ExamQuestion.hbm.xml" />

        <mapping resource="com/schlock/website/entities/apps/notfibbage/NotFibbageQuestion.hbm.xml" />
        <mapping resource="com/schlock/website/entities/apps/notfibbage/NotFibbageCategory.hbm.xml" />

        <mapping resource="com/schlock/website/entities/apps/bingo/BingoOption.hbm.xml" />

        <mapping resource="com/schlock/website/entities/apps/games/VideoGame.hbm.xml" />
        <mapping resource="com/schlock/website/entities/apps/games/VideoGameHardware.hbm.xml" />
        <mapping resource="com/schlock/website/entities/apps/games/VideoGamePlatform.hbm.xml" />

        <mapping resource="com/schlock/website/entities/apps/pokemon/PokemonCategory.hbm.xml" />
        <mapping resource="com/schlock/website/entities/apps/pokemon/PokemonData.hbm.xml" />
        <mapping resource="com/schlock/website/entities/apps/pokemon/PokemonMove.hbm.xml" />
        <mapping resource="com/schlock/website/entities/apps/pokemon/PokemonCustomCounter.hbm.xml" />

        <mapping resource="com/schlock/website/entities/apps/ps2/PlaystationGame.hbm.xml" />
    </session-factory>
</hibernate-configuration>